*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

/* divs gerais */

.clear{
	clear: both;
}

.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}

				/* PAGINA INDEX */

/* header */

header{
	padding: 30px 0;
	height: 130px;
}

.logo{
	background-image: url("../imagens/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 180px;
	height: 180px;
	float: left;
	margin-top: -50px;
}

nav.menu-desktop ul{
	padding: 20px 0;
	float:right;
}

nav.menu-desktop ul li{
	padding: 0 30px;
	float: left;
	list-style-type: none;
	font-size: 23px;
	font-style: italic;
	text-transform: uppercase;
}

nav.menu-desktop a{
	text-decoration: none;
	color: black;
}

/* nav mobile */

nav.menu-mobile{
	margin-top: 20px;
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../imagens/icon_menu.png');
	cursor: pointer;
}
nav.menu-mobile ul{
	display: none;
	border-bottom: 4px solid #EB2D2D;
	z-index: 999;
	width: 100%;
	position: absolute;
	left: 0;
	top: 130px;
	text-align: center;
	background-color: white;
}

nav.menu-mobile ul li{
	font-size: 23px;
	padding: 20px 0px;
	list-style-type: none;
	font-style: italic;
}

nav.menu-mobile a{
	text-decoration: none;
	color: black;
}

/* section banner */

section.section-banner{
	width: 100%;
	height: 750px;
	min-height: 600px;
	background-color: black;
	background-image: url('../imagens/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}

section.section-banner .text-banner{
	padding: 100px;
}
.text-banner-single{
	margin-top: 20px;
	text-transform: uppercase;
	font-style: italic;
	width: 314px;
	height: 60px;
	color: white;
	font-size: 30px;
	background-image: url('../imagens/box-text.png');
	background-position: center;
	background-size: 100% 100%;
}

.text-banner-single p{
	padding: 8px 30px;
}

.text-banner-single:nth-of-type(2){
	width: 230px;
	position: relative;
	left: -14px;
}

.text-banner-single:nth-of-type(3){
	position: relative;
	left: -25px;
	width: 180px;
}
.text-banner-single:nth-of-type(4){
	position: relative;
	left: -36px;
	width: 314px;
	background-image: url('../imagens/box-white-text.png');
	background-position: center;
	background-repeat: no-repeat;
}

.text-banner-single:nth-of-type(4) p{
	font-size: 26px;
	color: black;
}

/* section veiculos-destaque */

section.veiculos-destaque > .container{
	max-width: 1280px;
	padding: 90px 2%;
}

.line-titulo{
	position: relative;
	text-align: center;
	width: 100%;
}

.line{
	position: absolute;
	height: 2px;
	background-color: black;
	width: 100%;
	top: 20px;
}

.line-titulo h2{
	position: relative;
	padding: 0 20px;
	background-color: white;
	font-size: 27px;
	color: black;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
}

.vitrine-destaque-wraper{
	padding: 40px 0;
}
.vitrine-destaque{
	width: 33.33%;
	float: left;
	padding: 0 10px;
}

.vitrine-destaque > .carro-img{
	width: 100%;
	padding-top: 100%;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}
.info-carro h2{
	font-size: 25px;
	padding: 10px 0 10px 1px;
	font-style: italic;
	color: black;
}
.info-carro p{
	padding-top: 10px;
	padding-left: 1px;
	padding-bottom: 10px;
	color: #353535;
	font-style: italic;
	font-size: 17px;
}
.info-carro a{
	font-weight: normal;
	border-bottom: 3px solid #b21e1e;
	font-size: 23px;
	margin-left: 4px;
	color: white;
	display: block;
	text-align: center;
	margin-top: 20px;
	text-decoration: none;
	width: 153px;
	height: 50px;
	font-style: italic;
	line-height: 47px;
	background-color: #EB2D2D;
}


	/* section servicos-descricao */

section.servicos-descricao{
	width: 100%;
	display: flex;
}
	/* half1 */
section.servicos-descricao .half1{
	text-align: center;
	width: 50%;
	padding: 90px 0;
	background-color: #242424;
	color: white;
}

.half1 .half1-wraper{
	display: inline-block;
	text-align: left;
	padding: 0 30px;
}

.half1-wraper h2{
	padding:0 0 10px 0;
	font-size: 40px;
	font-style: italic;
	font-weight: normal;
}

.half1-wraper ul{
	display: inline-block;
	padding-left: 25px;
}
.half1-wraper ul li{
	margin-top: 2px;
	font-size: 20px;
	font-style: italic;
}

.half1-wraper a{
	vertical-align: bottom;
	font-weight: normal;
	border-bottom: 3px solid #b21e1e;
	font-size: 23px;
	color: white;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 153px;
	height: 50px;
	font-style: italic;
	line-height: 47px;
	background-color: #EB2D2D;
	margin-left: 40px;
}

	/* half2 */
section.servicos-descricao .half2{
	width: 50%;
	padding: 90px 130px;
	background-color: #EB2D2D;
}
section.servicos-descricao .half2 h2{
	color: white;
	font-size: 40px;
	font-style: italic;
	font-weight: normal;
	padding: 10px 0;
}

.texto-depoimento{
	color: white;
	font-size: 18px;
	font-style: italic;
	padding: 10px 20px;
}

.rodape-depoimento{
	width: 100%;
	padding: 30px 0;
}

.half2 .arrow{
	float: left;
}

.arrow img{
	cursor: pointer;
	margin:0 20px;
}

.half2 .nome-depoimento{
	color: #252525;
	float: right;
}

.half2 .nome-depoimento p{
	font-size: 23px;
	font-style: italic;
	padding-right: 10px;
}

/* section contatos */

section.contato{
	padding: 80px 0 30px 0;
}

section.contato-veiculo-teste{
	padding-bottom: 0;
}

section.contato form{
	max-width: 800px;
	margin: 50px auto;
}

section.contato .input-wraper{
	float: left;
	padding: 10px;
	margin-top: 15px;
}

section.contato input[type="text"]{
	border:1px solid #ccc;
	height: 70px;
	line-height: 70px;
	padding-left: 15px;
	width: 100%;
	font-size: 18px;
	color: #hhh;
}

section.contato input[type="text"]:focus{
	outline: 0;
}

section.contato textarea{
	width: 100%;
	border:1px solid #ccc;
	height: 190px;
	resize: none;
	padding: 8px;
	font-size: 18px;
	color: #hhh;
}

section.contato textarea:focus{
	outline: 0;
}

section.contato input[type="submit"]{
	font-weight: normal;
	border-bottom: 3px solid #b21e1e;
	border-left: none;
	border-top: none;
	cursor: pointer;
	border-right: none;
	font-size: 23px;
	color: white;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	width: 153px;
	height: 50px;
	font-style: italic;
	line-height: 47px;
	background-color: #EB2D2D;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

/* footer */

footer{
	padding: 40px;
	background-color: #252525;
}

footer nav{
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer nav ul li{
	font-size: 19px;
	float: left;
	padding: 0 20px;
	font-style: italic;
}

footer nav a{
	color: white;
	text-decoration: none;
}

footer p{
	float: right;
	color: white;
	font-size: 19px;
	font-style: italic;
}

/*--------------------  PAGINA DE VENDAS  ------------------*/

/* section venda */

section.venda{
	padding: 60px 0;
}

section.venda .container{
	max-width: 1680px;
}

section.venda .content-venda{
	margin-top: 40px;
}

section.venda .sidebar{
	float: left;
	width: 30%;
}

section.venda .sidebar .search1{
	width: 90%;
}

section.venda .sidebar .search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

section.venda .sidebar .search1 .barra-preco{
	width: 100%;
	height: 20px;
	background-color: white;
	margin-top: 8px;
	border-radius: 10px;
	border:1px solid #ccc;
	position: relative;
}

section.venda .barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 20px;
	border-radius: 20px;
	background-image:
    linear-gradient(to bottom,rgb(240,240,240),rgb(200,200,200));
}

section.venda .pointer-barra{
	cursor: pointer;
	position: absolute;
	top: -3px;
	left:0;
	width: 18px;
	height: 26px;
	border-radius: 8px;
	border:1px solid black;
	background-image:
    linear-gradient(to bottom,rgb(240,240,240),rgb(170,170,170));
}

section.venda .valor-pesquisa{
	margin-top: 8px;
}

section.venda p{
	color: black;
	font-size: 15px;
}

section.venda .valor-pesquisa p:nth-of-type(1){
	float: left;
}

section.venda .valor-pesquisa p:nth-of-type(2){
	float: right;
}

section.venda .search2{
	margin-top: 40px;
}

section.venda .search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

section.venda .form-venda-wraper{
	margin-top: 10px;
}

section.venda .form-venda-wraper input[type="checkbox"]{
	display: none;
}

.form-venda-wraper label{
	width: 20px;
	height: 20px;
	border:1px solid #ccc;
	display: inline-block;
	border-radius: 3px;
	vertical-align: bottom;
	cursor: pointer;
	position: relative;
}
.form-venda-wraper label .circle{
	display: none;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: black;
	position: absolute;
	top: 6px;
	left: 6px;
}
.form-venda-wraper input[type="checkbox"]:checked + label > .circle{
	display: block;
}
.form-venda-wraper span{
	padding: 0 10px;
}
.form-venda-wraper:nth-of-type(1) span{
	font-size: 18px;
}

.vitrine-venda{
	float: left;
	width: 70%;
}
.vitrine-venda .vitrine-destaque{
	margin-top: 20px;
}

		/*---------  PAGINA INDIVIDUAL DE VENDAS  ----------*/

section.venda-single .container:nth-of-type(1){
	margin-top: 80px;
}
section.venda-single .info-bread{
	font-style: italic;
	font-size: 20px;
	margin-bottom: 10px;
}

section.venda-single .info-bread a{
	text-decoration: none;
	color: black;
}

section.venda-single .info-bread a:last-child{
	text-decoration: none;
	color: red;
}

section.venda-single .info-bread span{
	height: 10px;
	padding: 0 20px;
}

section.venda-single .container:nth-of-type(2){
	padding: 80px 2% 30px 2%;
}
section.venda-single .info-veiculo{
	float: left;
	width: 60%;
}
section.venda-single .descricao-veiculo{
	padding:20px 20px 20px 40px;
	float: left;
	width: 40%;
}

section.venda-single .foto-destaque{
	width: 100%;
	padding-top: 70%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

section.venda-single .descricao-veiculo h2{
	font-style: italic;
	font-weight: normal;
}

section.venda-single .descricao-veiculo p:nth-of-type(1){
	max-width: 360px;
	margin-top: 25px;
	max-height: 300px;
	max-width: 230px;
	font-size: 19px;
	font-style: italic;
	overflow-y: auto;
	color: #333;
	margin-bottom: 25px;
}

section.venda-single .descricao-veiculo p:nth-of-type(2){
	font-size: 17px;
	color: black;
}
section.venda-single .descricao-veiculo p:nth-of-type(3){
	font-size: 23px;
	color: black;
}

section.venda-single .descricao-veiculo a{
	margin-top: 25px;
}

.nav-galeria-parent{
	width: 100%;
	padding: 36px;
	position: relative;
}

.arrow-left-parent{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left:8px;
	transform: translateY(-50%);
	-ms-transform:translateY:(-50%);
	background-image: url('../imagens/arrow-left.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	cursor: pointer;
}

.arrow-right-parent{
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
	-ms-transform:translateY:(-50%);
	background-image: url('../imagens/arrow-right.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}

.nav-galeria{
	overflow: hidden;
	width: 100%;
}

.nav-galeria-wraper{
	/*
	width: 200%; via JS!
	*/
}
.mini-img-wraper{
	float: left;
	padding: 9px;
	/*
	width: calc(33.33% * ( 100 / 200 )); via js!
	*/
}
.mini-img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 70%;
	cursor: pointer;
}

section.venda-single .descricao-veiculo a{
	font-weight: normal;
	border-bottom: 3px solid #b21e1e;
	font-size: 20px;
	color: white;
	display: block;
	text-align: center;
	text-decoration: none;
	width: 160px;
	height: 50px;
	font-style: italic;
	line-height: 47px;
	background-color: #EB2D2D;
}

	/*---------  PAGINA SOBRE ----------*/

section.sobre{
	padding: 80px 2% 40px 2%;
}

section.sobre .container:nth-of-type(2){
	margin-top: 30px;
}

section.sobre .img-sobre{
	margin: 0 auto;
	width: 90%;
	padding-top: 40%;
	background-image: url('../imagens/sobre.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.sobre .texto-sobre{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 40px 0;
}

section.sobre .texto-sobre-linha-1 h2{
	padding: 20px 0;
	color: black;
	font-style: italic;
	font-size: 30px;
}

section.sobre .texto-sobre-linha-1 p{
	padding: 20px 0;
	color: black;
	font-style: italic;
	font-size: 24px;
}

section.sobre .texto-sobre-linha-2{
	padding: 40px 0;
}

section.sobre .texto-sobre-linha-2 .linha-2-img{
	float: left;
	width: 30%;
	padding-top: 30%;
	background-image: url('../imagens/dono.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.sobre .texto-sobre-linha-2 .linha-2-texto{
	padding: 40px;
	color: black;
	font-style: italic;
	font-size: 24px;
	float: right;
	width: 70%;
}


	/* Web Design Responsivo */

	/* max-width: 1400px */

@media screen and (max-width: 1400px){
	section.section-banner{
		background-size: 90% auto;
		background-position: 200% 100%;
	}

	section.servicos-descricao .half2{
		width: 50%;
		padding: 90px 80px;
		background-color: #EB2D2D;
	}
}

@media screen and (max-width: 1280px){
	section.servicos-descricao .half2{
		padding: 90px 60px;
	}

	section.sobre .texto-sobre-linha-2 .linha-2-texto{
		padding-top: 0;
		font-size: 24px;
		width: 70%;
	}
}
	/* max-width: 1050px */
@media screen and (max-width: 1050px){
	.half1-wraper ul{
		text-align: left;
		display: block;
		padding-left: 25px;
	}
	.half1-wraper ul li{
		margin-top: 2px;
		font-size: 20px;
	}

	.half1-wraper a{
		margin-top: 20px;
		font-weight: normal;
		display: block;
		margin-left: 0;
	}

	section.servicos-descricao .half2{
		width: 50%;
		padding: 90px 2%;
		background-color: #EB2D2D;
	}

	.texto-depoimento{
		padding: 10px 0;
	}

	.half2 .arrow{
		text-align: center;
		float: none;
	}

	.half2 .nome-depoimento{
		color: #252525;
		float: none;
	}
	.half2 .nome-depoimento p{
		margin-top: 10px;
		text-align: center;
		padding-right: 0;
	}

	/* section venda-single */

	section.venda-single .info-veiculo{
		float: none;
		width: 100%;
	}
	section.venda-single .descricao-veiculo{
		float: none;
		width: 100%;
	}

	section.venda-single .foto-destaque{
		width: 100%;
		padding-top: 60%;
	}

	section.venda-single .descricao-veiculo p:nth-of-type(1){
		max-width: 800px;
		max-height: none;
	}

	/* section sobre */

	section.sobre .texto-sobre-linha-2{
		padding: 40px 0;
	}

	section.sobre .texto-sobre-linha-2 .linha-2-img{
		float: left;
		width: 40%;
		padding-top: 40%;
		background-color: rgb(220,220,220);
	}

	section.sobre .texto-sobre-linha-2 .linha-2-texto{
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 20px;
		font-size: 22px;
		width: 60%;
	}


}

	/* max-width: 1024px */
@media screen and (max-width: 1024px){
	section.section-banner{
		background-size: cover;
		background-position: center;
		height: 70vw;
		min-height: 500px;
	}


}
	/* max-width: 768px */

@media screen and (max-width: 768px){

	/* header */

	nav.menu-mobile{
		display: block;
	}
	nav.menu-desktop{
		display: none;
	}

	/* section vitrine-destaque */
	section.veiculos-destaque > .container{
		padding: 90px 2% 10px 2%;
	}
	.vitrine-destaque{
		padding: 0 8px;
	}

	.info-carro h2{
		font-size: 20px;
		padding: 10px 0 8px 1px;
	}

	.info-carro p{
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 14px;
	}

	.info-carro a{
		border-bottom: 2px solid #b21e1e;
		font-size: 18px;
		margin-top: 8px;
		width: 120px;
		height: 40px;
		line-height: 37px;
	}


	/* section servicos-descricao */

	section.servicos-descricao{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	section.servicos-descricao .half1{
		width: 100%;
	}

	section.servicos-descricao .half2{
		width: 100%;
	}


	/* footer */

	footer nav{
		float: none;
		width: 100%;
		text-align: center;
	}

	footer nav ul{
		list-style-type: none;
		display: inline-block;
		text-align: left;
	}

	footer nav ul li{
		float: none;
		padding:5px 0;
		width: 100%;
	}

	footer p{
		padding: 10px 0;
		float: none;
		text-align: center;
	}

	/* section venda */

	.vitrine-venda{
		width: 100%;
		text-align: center;
	}

	section.venda .sidebar{
		width: 100%;
		text-align: center;
	}

	section.venda .search1{
		display: inline-block;
	}

	section.venda .search2{
		text-align: left;
		display: inline-block;
	}

	/* section sobre */


	section.sobre .img-sobre{
		width: 100%;
		padding-top: 60%;
	}

	section.sobre .texto-sobre-linha-1 p{
		padding: 0;
		font-size: 20px;
	}


	section.sobre .texto-sobre-linha-2 .linha-2-img{
		margin: 0 auto;
		float: none;
		width: 80%;
		padding-top: 80%;
		background-color: rgb(220,220,220);
	}

	section.sobre .texto-sobre-linha-2 .linha-2-texto{
		margin: 0 auto;
		padding:20px 0 0 0;
		color: black;
		font-style: italic;
		font-size: 19px;
		float: none;
		width: 90%;
	}

	section.sobre{
		padding: 80px 2% 10px 2%;
	}


}
			/* 580px */

@media screen and (max-width: 580px){

		/* section-banner */

	section.section-banner .text-banner{
		padding: 70px 0px 70px 0px;
		text-align: center;
	}

	.text-banner-single{
		display: inline-block;
		text-align: center;
		font-style: normal;
		font-size: 23px;
		width: 290px;
		height: 50px;
		background-image: none;
		background-color: #EB2D2D;
		padding-left: 10px;
	}

	.text-banner-single p{
		padding: 8px 1%;
	}

	.text-banner-single:nth-of-type(2){
		width: 290px;
		left: 0;
	}

	.text-banner-single:nth-of-type(3){
		width: 290px;
		left: 0;
	}

	.text-banner-single:nth-of-type(4){
		width: 290px;
		background-image: none;
		background-color: white;
		left: 0;
	}

	.text-banner-single:nth-of-type(4) p{
		font-size: 17px;
	}

	/* section vitrine-destaque */

	.vitrine-destaque-wraper{
		text-align: center;
	}	

	.vitrine-destaque{
		float: none;
		width: 100%;
		padding: 0 10px;
	}	

	.info-carro h2{
		font-size: 25px;
		padding: 10px 0 10px 0;
	}

	.info-carro p{
		padding-top: 10px;
		padding-left:0;
		padding-bottom: 10px;
		font-size: 18px;
	}
	.info-carro a{
		border-bottom: 5px solid #b21e1e;
		font-size: 23px;
		margin-left:0px;
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 40px;
		width: 153px;
		height: 50px;
		line-height: 47px;
	}

	.w50{
		width: 100%;
	}

	/* section venda-single */

	section.venda-single .descricao-veiculo{
		padding:20px 1% 20px 1%;
	}

	section.venda-single .info-bread{
		width: 100%;
	}

	section.venda-single .info-bread a{
		text-decoration: none;
		color: black;
		font-size: 14px;
	}
	section.venda-single .info-bread span{
			padding: 0 2%;
	}

	section.venda-single .descricao-veiculo p:nth-of-type(1){
		max-width: none;
		max-height: 400px;
		overflow: auto;
		padding: 0;
	}

	/* section sobre */


	section.sobre .texto-sobre-linha-2 .linha-2-img{
		width: 100%;
		padding-top: 100%;
	}

	section.sobre .texto-sobre-linha-2 .linha-2-texto{
		padding:20px 0;
		width:100%;
	}


	section.sobre .img-sobre{
		margin: 0 auto;
		width: 100%;
		padding-top: 70%;
		background-image: url('../imagens/sobre.jpg');
	}

}

			/* 380px */
@media screen and (max-width: 380px){

	/*section veiculos-destaque */

	.line-titulo h2{
		padding: 0 10px;
		font-size: 25px;
	}

	section.sobre{
		padding: 80px 2% 0 2%;
	}
}
			/* 320px */
			
@media screen and (max-width: 320px){
	
	/* section banner */

	section.section-banner{
		background-size: cover;
		background-position: 30% 50%;
		height: 70vw;
		min-height: 500px;	
	}
		
	section.section-banner .text-banner{
		padding: 70px 0px 70px 0px;
		text-align: center;
	}

	.text-banner-single{
		width: 230px;
	}

	.text-banner-single:nth-of-type(2){
		width: 230px;
		left: 0;
	}

	.text-banner-single:nth-of-type(3){
		width: 230px;
		left: 0;
	}

	.text-banner-single:nth-of-type(4){
		width: 230px;
		background-image: none;
		background-color: white;
		left: 0;
	}

}
